body {
    background-color: #607080;
    color: white;
    margin: 0;
    font-family: Helvetica;
    overflow-x: hidden;
}
header {
    background: #40A1FF;
}

.slider{
    height: 180px;
}
.navbar-brand {
    width: 180px;
}

footer {
    background-color: #40a1ff;
}

.social {
    padding-right: 1.5em;
}
.container-fluid{
    padding-left:0 !important;
    padding-right:0 !important;
}

aside h2 {
    background-color: #138174;
    font-weight: bold;
}

.carruselDiv {
    background-color: #806f60;
    padding-top: 40px;
    padding-bottom: 40px;
}

.imgDiv {
    width: 77%;
}

.colorAside{
    background-color: #38E0C7;
}

.textoAside {
    background-color: #0b6057;
}

.textoFooter{
    font-size: 20px;
    margin-bottom: 0; 
    margin-left: 20px; 
}

footer img {
    width:36px;
}

.insta , .twitter{
    margin-right: 10px;
}

.navbar-brand img.logo {
    max-width: 100%;
}

aside h2 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}
